@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url('main-bg.png');
  font-family: 'Poppins', sans-serif;
  color: #10182f;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  flex-wrap: wrap;
}
.card {
  margin: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  max-width: 100%; /* Allow cards to shrink on small screens */
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align content to the left */
  padding: 20px;
  min-height: 250px;
}
.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #1C2A50;
}
.tag-purple {
  background-color: #A46E93;
}
.tag-pink {
  background-color: #8AADD4;
}
.card-body p {
  font-size: 13px;
  margin: 0 0 20px; /* Slightly reduce bottom margin for better spacing */
}
.user {
  display: flex;
  margin-top: auto;
}
.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.ask {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 35px;
}

a.card-link {
  text-decoration: none;
  color: inherit; /* Inherit the color from the parent */
}

@media screen and (max-width: 768px) {
  body {
    align-items: flex-start;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 290px;
    max-width: 100%;
  }
}
